
@import "~bootstrap/scss/bootstrap-grid.scss";

.explorer-title {
	background-image: url(assets/explore_blob.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
}

.explorer-title h1 {
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 220%;
	font-family: 'Montserrat-SemiBold', sans-serif;
}

.cat-box {
	color: black;
}

.cat-box h2 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 20px;
}

.cat-box h3 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 14px;
}

.cat-box h4 {
	font-size: 14px;
}

.cat-box .owner {
	font-size: 10px;
	margin-top: 0;
}
.cat-box p {
	font-size: 14px;
}
.mx-k-sm-1 {
	@include media-breakpoint-down(sm) { 
       margin-left: 15px !important;
       margin-right: 15px !important; 
    }
}
.px-k-sm-1 {
	@include media-breakpoint-down(sm) { 
       padding-left: 15px !important;
       padding-right: 15px !important; 
    }
}

.explore-image-container {
	box-shadow: 0px 0px 4px #DFDFDF;	
	border-radius: 25px;
	width: 255px;
	height: 255px;
}
.explore-image {
	max-width: 175px;
	margin-top: 40px;
}
