<div class="container-fluid px-0">
  <div class="row">
  	<div class="col-lg-4 offset-lg-4 col-md-12">
  		<div class="explorer-title">
	  		<h1>The Kitty Explorer</h1>
	  	</div>
  	</div>
  </div>

  <div class="row mx-4 mt-4">
  	<div class="col-12 px-5">
  		<h2>Legendary Kitties</h2>
  		<p>We sell twelve legendary cats that will feature crypto-legends, superheroes and other famous characters. The funds raised will go towards the development of Kitty Cash. If you are interested, contact us on Telegram.</p>
  	</div>
  </div>

  <div class="row px-5">
  	<div class="col-md-4 col-sm-12 cat-box mb-2" *ngFor="let cat of kitties.legendary">
      <div class="px-4">
    		<div class="mx-auto text-center">
    			<img class="img-fluid" src="{{cat.img}}">
    		</div>
    		<div class="mt-3 mx-3">
    			<h2>{{cat.name}}</h2>
    			<h3>{{cat.price_btc}} BTC | {{cat.price_sky}} SKY</h3>
    			<p *ngIf="cat.sold">Owner: {{cat.sold}}</p>
    			<p>{{cat.description}}</p>
    		</div>
      </div>
	 </div>
  </div>


  <div class="row mx-4 mt-4">
  	<div class="col-12 px-5">
  		<h2>Custom Legendary Kitties</h2>
  		<p>Do you want something truly unique? We offer twelve completely custom made kitties that can be tailored to your desires. Make sure to get exactly the cat you want and design a kitty in cooperation with our artists.</p>
  	</div>
  </div>

   <div class="row px-5">
    <div class="col-md-4 col-sm-12 cat-box mb-2" *ngFor="let cat of kitties.custom">
      <div class="px-4">
        <div class="mx-auto text-center">
          <img class="img-fluid" src="{{cat.img}}">
        </div>
        <div class="mt-3 mx-3">
          <h2>{{cat.name}}</h2>
          <h3>{{cat.price_btc}} BTC | {{cat.price_sky}} SKY</h3>
          <p *ngIf="cat.sold">Owner: {{cat.sold}}</p>
          <p>{{cat.description}}</p>
        </div>
      </div>
   </div>
  </div>

</div>
