@import "src/theme/theme-variables";

.faq-title {
	background-image: url(assets/faq_blob.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
}

.faq-title h1 {
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 245%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.faq-btn {
	padding: 0;
	font-family: 'Montserrat', sans-serif;	
	font-size: 24px;
    font-weight: 400;
    color: $kittyred;
	white-space: normal !important;
    word-wrap: break-word !important;
    text-align: left;
}
.faq-btn:hover {
	text-decoration: none;
	color: black;
}

.faq-btn:focus {
	text-decoration: none;
	color: black;
}

.toggle {
	border-right: 1px solid $kittyred;
}

.expanded {
	cursor: pointer;
	margin-top: 15px;
}
.expanded span {
	color: $kittyblack;
	font-size: 100%;
	font-weight: 100;
}

.panel-body p {
	font-size: 100%;
	color: $kittyblack;
}

.faq-nav a {
	font-family: 'Montserrat', sans-serif;	
	font-size: 18px;
    font-weight: 300;
    color: $kittydarkgray;
}


.submit-question {
  position: relative;
}

.submit-question .background {
  position: absolute;
  top:0;
  bottom:0;
  left:-20%;
  right:-20%;
  background-color: $kittyred;
  background-image: url(assets/pattern-repeat.png);
  background-size: 1600px;
}

.submit-question .question-input {
  border-radius: 30px;
  text-indent: 20px;
  height: 50px;
}

.submit-question h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: $kittyblack; 
  margin-bottom: 0;
}

.submit-question h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: $kittyblack; 
}


.submit-question  .submit-button {
  border: none;
  border-radius: 30px;
  right: 35%;
  background-color: $kittydarkred;
  z-index: 100;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.add-reply {
  color: $kittyred !important;
  position:absolute; 
  font-size: 80%; 
  right: 20%; 
  z-index:9999
}