.explorer-title {
	background-image: url(assets/explore_blob.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
}

.explorer-title h1 {
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;
	font-size: 185%;
	text-align: center;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
}

.cat-box {
	color: black;
}

.cat-box h2 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 24px;
}

.cat-box h3 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 18px;
}

.cat-box h4 {
	font-size: 14px;
}