@import "src/theme/theme-variables";
@import "~bootstrap/scss/bootstrap-grid.scss";

header {
  z-index: 20;
  position: relative;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.logo:focus {
  outline: none;
}

.navbar {
  margin-bottom: $spacer;
}

.navbar .container {
	margin: 0;
	padding: 0;
}

.navbar .navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

nav {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.kitty-menu {
  @include media-breakpoint-down(sm) { 
    background: white;  
    padding: 5px;
  }
 
}