@import "src/theme/theme-variables";

.logo {
  width: 134px;
  height: 134px;
  cursor: pointer;
}

.logo:focus {
  outline: none;
}

.navbar {
  margin-bottom: $spacer;
}

.navbar .container {
	margin: 0;
	padding: 0;
}

.navbar .navbar-nav {
  width: 100%;
  justify-content: space-around;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

header {

}