<div class="mail-list">
	<div class="background"></div>
	<div class="row pt-5 pb-3">
		<div class="col-12 text-center">
			<h1>Join our KittyCash community newsletter now</h1>
			<h2>and make sure to participate in our competitions and giveaways!</h2>
		</div>
	</div>
	<div class="row pb-5">
		<div class="col-12 col-md-8 offset-md-2">
			<div class="input-group">
			  <input type="email" class="form-control" placeholder="Enter Your Email">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="button">Sign Up</button>
			  </div>
			</div>
		</div>
	</div>
</div>