<div class="container-fluid px-0 scroll-header">
  <div class="row">
  	<div class="col-12 text-center mt-5">
  	   <h1>KittyDrop Submission Form</h1>
  	</div>
  </div>

  <div class="row">
    <div class="col-12">
      <p>Please ensure that you completed all the required steps before submitting the form.</p>
      <ol>
        <li>Join our Telegram channel <a href="https://t.me/kittycash">https://t.me/kittycash</a></li>
        <li>Follow us on Twitter <a href="https://twitter.com/KittyCash_com">https://twitter.com/KittyCash_com</a></li>
        <li>Subscribe to us on Reddit <a href="https://www.reddit.com/r/KittyCash/">https://www.reddit.com/r/KittyCash/</a></li>
        <li>Download the Kittery wallet from <a href="https://www.kittycash.com">https://www.kittycash.com</a> and provide us with your wallet address so we can find the new house for our Tabbies.</li>
      </ol>
      <p>KittyCash reserves the right to reject submissions that are completed with fake accounts or bots.</p>
      <p>All submissions are verified.</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-12">
      <form action="https://docs.google.com/forms/d/e/1FAIpQLSd1YkViDDBz5G_gUfUNDinAcxR2bIjdrVNTN0sT7pFtjv5nzw/formResponse?embedded=true" method="POST" id="mG61Hd">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" placeholder="Your email" name="emailAddress" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label>Would you like to subscribe to our newsletter?</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="entry.1962690788" value="Yes" checked>
            <label class="form-check-label">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="entry.1962690788" value="No">
            <label class="form-check-label">
              No
            </label>
          </div>
        </div>
        
        <div class="form-group">
          <label>What is your Telegram handle?</label>
          <input type="text" class="form-control" name="entry.317293922" placeholder="Telegram handle" required>
        </div>

        <div class="form-group">
          <label>What is your Twitter handle?</label>
          <input type="text" class="form-control" name="entry.545374876" placeholder="Twitter handle" required>
        </div>

        <div class="form-group">
          <label>What is your Reddit handle?</label>
          <input type="text" class="form-control" name="entry.1023039767" placeholder="Reddit handle" required>
        </div>

        <div class="form-group">
          <label>What is your KittyCash wallet address?</label>
          <input type="text" class="form-control" name="entry.1237293258" placeholder="KittyCash wallet address" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
