<div class="get-in-touch mt-5 pb-1">
	<div class="background"></div>
	<div class="row">
		<div class="col-12 col-md-5 text-center">
			<div class="p-3">
				<h1>Get in Touch</h1>
				<p class="px-2">Got something to say? We love hearing from you!</p>
				<i class="fa fa-envelope mail-icon"></i>
				<p>kitty@kittycash.com</p>
				<div class="row socials">
					<div class="col-2 offset-2">
						<a href="https://t.me/kittycash">
							<i class="fab fa-telegram-plane"></i>
						</a>
					</div>
					<div class="col-2">
						<a href="https://twitter.com/kittycash_com">
							<i class="fab fa-twitter"></i>
						</a>
					</div>
					<div class="col-2">
						<a href="https://www.facebook.com/kittycash.official">
							<i class="fab fa-facebook-f"></i>
						</a>
					</div>
					<div class="col-2">
						<a href="https://instagram.com/kittycash.official/">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2 d-none d-md-block my-auto separator">
			<img class="img-fluid" src="assets/lion_icon.png">
		</div>
		<div class="col-12 col-md-5 mail-list">
			<div class="row pt-4">
				<div class="col-12 text-center">
					<h1>Join our KittyCash community newsletter now</h1>
					<h2>and make sure to participate in our competitions and giveaways!</h2>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-12">
					<form action="https://kittycash.us17.list-manage.com/subscribe/post?u=b4b7a83c4ec9983dddc72944a&amp;id=710216c5ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
						<div class="input-group">
							  <input type="email" name="EMAIL" class="form-control email-input" placeholder="Enter Your Email">
							  <div class="input-group-append">
							    <input type="submit" class="btn btn-outline-secondary submit-button" value="Sign Up">		    
							 </div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>