<div class="get-in-touch my-5">
	<div class="row">
		<div class="col-md-4 offset-md-4 text-center box">
			<div class="p-3">
				<h1>Get in Touch</h1>
				<p class="px-2">Got something to say? We love hearing from you!</p>
				<i class="fa fa-envelope mail-icon"></i>
				<p>kitty@kittycash.com</p>
				<div class="row socials">
					<div class="col-2 offset-2">
						<a href="https://t.me/kittycash">
							<i class="fab fa-telegram-plane"></i>
						</a>
					</div>
					<div class="col-2">
						<a href="https://twitter.com/kittycash_com">
							<i class="fab fa-twitter"></i>
						</a>
					</div>
					<div class="col-2">
						<a href="https://www.facebook.com/kittycash.official">
							<i class="fab fa-facebook-f"></i>
						</a>
					</div>
					<div class="col-2">
						<a href="https://instagram.com/kittycash.official/">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>