@import "src/theme/theme-variables";

footer { 
	position: relative;
	background: $kittylightgray;
	text-align: center;
	z-index: 100;
}

footer::before {
	content: "";
    background: $kittylightgray;
    position: absolute;
    left: -11%;
    right: -11%;
    top: 0;
    bottom: 0;
}

.logo {
  width: 134px;
  height: 134px;
}

footer ul {
  list-style-type: none;
  color: $kittydarkgray;
  text-align: left;
}

footer ul a {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	color: $kittydarkgray;
}

footer li:first-child {
	font-family: 'Montserrat', sans-serif;
	font-size: 100%;
	color: $kittydarkgray;
	font-weight: 600;
	padding-bottom: 20px;
}