<footer class="pt-5 pb-5">
  <div class="row">
    <div class="col-md-2 offset-md-1 col-xs-8 offset-xs-2">
      <img class="logo mx-auto" src="assets/logo.svg">
    </div>

    <div class="col-md-2 col-sm-8">
      <ul>
        <li>Get Started</li>
        <li>Get Wallet</li>
        <li>Downloads</li>
      </ul>
    </div>

    <div class="col-md-2 col-sm-8">
      <ul>
        <li><a routerLink="/explore" routerLinkActive="active">Explore</a></li>
        <li><a routerLink="/explore" routerLinkActive="active">Legendary Cats</a></li>
        <li><a href="https://www.kittycash.com/blog/index.html">Blog</a></li>
        <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      </ul>
    </div>

    <div class="col-md-2 col-sm-8">
      <ul>
        <li>Community</li>
        <li><a href="https://github.com/kittycash">Github</a></li>
        <li><a href="https://t.me/kittycash">Telegram</a></li>
        <li><a href="https://www.facebook.com/kittycash.official/">Facebook</a></li>
        <li><a href="https://twitter.com/kittycash_com">Twitter</a></li>
        <li><a href="https://instagram.com/kittycash.official/">Instagram</a></li>
      </ul>
    </div>
  </div>

</footer>
