/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

body {
  font-family: 'Montserrat', sans-serif;
/*
 * Bootstrap / mobile safari bug.  Body has to have position: relative to prevent horizontal overflow.
 */
  width: 100%;
  max-width: 100%;
  position: relative;
}

.row { 
	margin: 0; 
	padding: 0 
}

.kitty-container {
	margin-left: 9%;
	margin-right: 9%;
}

.show {
	display: block !important;
}

.under-nav {
	top: 150px !important;
	background-color: $kittyred !important;	
	max-height: 450px !important;
}

.scroll-header {
	margin-top: 450px !important;
	@include media-breakpoint-down(sm) { 
		margin-top: 0 !important;
	}
}

.no-scroll {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:100;
	@include media-breakpoint-down(sm) { 
		display: none;
	}
}
#kc {
	position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:0;
    max-height: 635px;
    overflow: hidden;
    @include media-breakpoint-down(sm) { 
		display: none;
	}
}

#bc {
	position: absolute;
	background-color: white;
	width: 40%;
	left:0;
	top:0;
	bottom:0;
	z-index: 1;
	display: none;
	@include media-breakpoint-down(sm) { 
		display: none;
	}
}
#sc {
	position: absolute;
    width: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 1200px;
    z-index: 1;
    display: none;
    background-repeat: no-repeat;
    background-image: url(/assets/scroll-cover.png);
    background-position: top left;
    background-size: 100%;
    
 	@include media-breakpoint-down(sm) { 
		display: none;
	}

}

.blob {
	background-repeat: no-repeat;
 	background-image: url(/assets/home_clip.svg);
 	background-position: top right;
 	background-size: 100%;

 	@include media-breakpoint-down(sm) { 
		display: none;
	}

	@media only screen and (min-width: 1500px) {
		background-position-y: -200px;
	}
}


.container-fluid {
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 150%;
}
.btn-primary {
    color: $white;
}

.btn-primary:hover {
    color: $kittyred;
}

.btn-outline-primary {
    color: $kittyred;
}

.btn-outline-primary:hover {
    color: $white;
}


.kitty-menu a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
  	font-size: 120%;
  	color: $kittyblack !important;
}

.kitty-menu a:hover {
	color: rgba(0, 0, 0, 0.5) !important;
}

.kitty-menu a.active {
	color: rgba(0, 0, 0, 0.5) !important;
}

.kitty-header-lg {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 300%;
	color: $kittyblack;
}

.kitty-header-s1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 245%;
	color: $kittyblack;
}

.kitty-header-s2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 150%;
	color: $kittyblack;
}

.kitty-header-s3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 120%;
	color: $kittyblack;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 130%;
	color: $kittyblack
}

