<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-12">
      <h1 class="kitty-header-s2 score-title">Top scores for {{span}}</h1>
    </div>
    <div class="col-md-6 col-12">
      <div class="score-menu">
        <button class="btn btn-link" (click)="loadScores('day')" [disabled]="span == 'day'">Day</button>
        <button class="btn btn-link" (click)="loadScores('week')" [disabled]="span == 'week'">Week</button>
        <button class="btn btn-link" (click)="loadScores('month')" [disabled]="span == 'month'">Month</button>
      </div>
    </div>
  </div>
    <table class="table">
      <thead>
        <th>Telegram</th>
        <th>Score</th>
      </thead>
      <tbody>
        <tr *ngFor="let score of scores">
          <td>{{score.telegram}}</td>
          <td>{{score.score}}</td>
        </tr>
      </tbody>
    </table>
</div>
