<div class="container-fluid px-5">
  <div class="row">
    <div class="col-6">
      <h2>Top scores for {{span}}</h2>
    </div>
    <div class="col-6">
      <div class="float-right">
        <button class="btn btn-link" (click)="loadScores('day')" [disabled]="span == 'day'">Day</button>
        <button class="btn btn-link" (click)="loadScores('week')" [disabled]="span == 'week'">Week</button>
        <button class="btn btn-link" (click)="loadScores('month')" [disabled]="span == 'month'">Month</button>
      </div>
    </div>
  </div>
    <table class="table">
      <thead>
        <th>Telegram</th>
        <th>Score</th>
      </thead>
      <tbody>
        <tr *ngFor="let score of scores">
          <td>{{score.telegram}}</td>
          <td>{{score.score}}</td>
        </tr>
      </tbody>
    </table>
</div>
