@import "~bootstrap/scss/bootstrap-grid.scss";

.downloads-title {
	background-image: url(assets/roadmap_blob.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
}

.downloads-title h1 {
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;
	font-size: 185%;
	text-align: center;
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
}
