<div class="container-fluid px-0">
  <div class="row">
  	<div class="col-lg-4 offset-lg-4 col-md-12">
  		<div class="downloads-title">
	  		<h1>Downloads</h1>
	  	</div>
  	</div>
  </div>
  <div class="row border-top mt-3 pt-2 pb-3">
  	<div class="col-2 offset-2">
  		<a href="assets/downloads/KittyCash_Branding_Guide.pdf" target="_blank">
  			<img class="img-fluid" src="assets/branding_guide_thumbnail.png">
  		</a>
  	</div>
  	<div class="col-8">
  		<a href="assets/downloads/KittyCash_Branding_Guide.pdf" target="_blank">
  			<h2>KittyCash Branding Guide</h2>
  		</a>
  		<p>A brand guide for style and identity</p>
  		<a href="assets/downloads/KittyCash_Branding_Guide.pdf" target="_blank" class="btn btn-lg btn-outline-primary">Download</a>
  	</div>
  </div>
  <div class="row border-top pt-2 mb-5">
  	<div class="col-2 offset-2">
  		<a href="assets/downloads/KittyCash_Stickers_v.1.1.pdf" target="_blank">
  			<img class="img-fluid" src="assets/stickers_thumbnail.png">
  		</a>
  	</div>
  	 <div class="col-7">
  		<a href="assets/downloads/KittyCash_Stickers_v.1.1.pdf" target="_blank">
  			<h2>Stickers V1.1</h2>
  		</a>
  		<p>Print at Home stickers!</p>
  		<a href="assets/downloads/KittyCash_Stickers_v.1.1.pdf" target="_blank" class="btn btn-lg btn-outline-primary">Download</a>
  	</div>
  </div>
</div>
