@import "~bootstrap/scss/bootstrap-grid.scss";
@import "src/theme/theme-variables";

.roadmap-title {
	background-image: url(assets/roadmap_blob.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 300px;
}

.roadmap-title h1 {
	position: absolute;
	bottom: 25%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 245%;
	font-family: 'Montserrat-SemiBold', sans-serif;
}

.year-blob {
	position: relative;
	background-image: url(assets/year_blob.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100px;
	z-index: 2;
	margin-top: 25px;
	margin-bottom: 25px;
}

.year-blob h1 {
	position: absolute;
	bottom: 12%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 130%;
	text-align: center;
	font-family: 'Montserrat-Medium', sans-serif;
}

.quarter-blob {
	position: absolute;
	min-height: 100px;
	z-index: 2;
    bottom: 0;
    top: 0;
    margin: 0 auto;
}

.roadmap .left .quarter-blob {
	left: 0;
    right: 40px;
}

.roadmap .right .quarter-blob {
	left: 40px;
    right: 0;
}

.quarter-blob h1 {
	position: absolute;
	bottom: 15%;
	left: 0;
	right: 0;
	font-size: 130%;
	text-align: center;
	font-family: 'Montserrat-Medium', sans-serif;
	color: $kittydarkgray;
}

.roadmap {
	position: relative;
	margin-bottom: 50px;
	font-size: 18px;
}
.roadmap:before {
  content: "";
  display: block;
  position: absolute;
  background-color: $kittyred;
  width: 3px;
  top: 0;
  bottom: -50px;
  left: 50%;
  z-index: 1;
}

.roadmap p {
	display:inline-block;
	background-color: white;
	position: relative;
	max-width: 25%;

	@include media-breakpoint-down(xs) { 
		font-size: 13px;
	}
}

.roadmap span {
	display: block;
	width: 40%;

	@include media-breakpoint-down(xs) { 
		font-size: 13px;
	}
}

.roadmap .left {
	position: relative;
	text-align: left;
}

.roadmap .left:before {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    left: 0;
    right: 50%;
    top: 15px;
    background-color: #bdbdbd;
}

.roadmap .left p {
	padding-right: 15px;
}


.roadmap .right {
	position: relative;
	text-align: right;
}

.roadmap .right:before {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    left: 50%;
    top: 15px;
    background-color: #bdbdbd;
}

.roadmap .title {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
}
.roadmap .right p {
	padding-left: 15px;
}