<div class="container-fluid px-0">
  <div class="row">
  	<div class="col-lg-4 offset-lg-4 col-md-12">
  		<div class="roadmap-title">
	  		<h1>Roadmap</h1>
	  	</div>
  	</div>
  </div>
  <div class="row">
  	<div class="col-10 offset-1">
	  	<div class="roadmap">
		  	<div class="left">
		  		<p>Hardware-wallet release</p>
		  	</div>
		  	<div class="year-blob">
		  		<h1>2019</h1>
		  	</div>
		  	<div class="right">
		  		<p>Kitty World launches</p>
		  	</div>

		  	<div class="left">
		  		<p class="title">Blockchain</p>
		  		<span>KittyCash launches on Skyledger blockchain with full functionality</span>
		  	</div>

		  	<div class="right">
		  		<p>Kitty Cash beta launches</p>
		  	</div>

		  	<div class="left">
		  		<p class="title">IKO: Initial Kitty Offering</p>
				<span>Distribution of 1st Gen Kitties</span>
		  	</div>

		  	<div class="right">
		  		<p>Whitepaper release</p>
		  	</div>

		  	<div class="left">
		  		<p>KittyCash.com goes online</p>
		  	</div>

		  	<div class="year-blob">
		  		<h1>2018</h1>
		  	</div>

		  	<div class="right">
		  		<p>KittyCash.com website</p>
		  	</div>

		  	<div class="left">
		  		<p class="title">KittyCash development starts</p>
		  	</div>

		  	<div class="year-blob">
		  		<h1>2017</h1>
		  	</div>

		  	<div class="right">
		  		<p class="title">Skyledger development starts</p>
		  	</div>

		  	<div class="year-blob">
		  		<h1>2012</h1>
		  	</div>
	  	</div>
	  </div>
  </div>

</div>
