<div class="container-fluid px-0 scroll-header">
  <div class="row">
  	<div class="col-lg-4 offset-lg-4 col-md-12">
  		<div class="roadmap-title">
	  		<h1>Roadmap</h1>
	  	</div>
  	</div>
  </div>
  <div class="row">
  	<div class="col-10 offset-1">
	  	<div class="roadmap">
		  	<div class="left">
		  		<div class="quarter-blob">
			  		<h1>Q1</h1>
			  	</div>
		  		<p>Hardware-wallet release</p>
		  	</div>
		  	<div class="year-blob">
		  		<h1>2019</h1>
		  	</div>
		  	<div class="right">
		  		<div class="quarter-blob">
			  		<h1>Q4</h1>
			  	</div>
		  		<p>Minigames on the platform</p>
		  	</div>

		  	<div class="left">
		  		<div class="quarter-blob">
			  		<h1>Q3</h1>
			  	</div>
		  		<p>Coin Hours accepted in KittyCash</p>
		  	</div>

		  	<div class="right">
		  		<p>Accesories store launches</p>
		  	</div>

		  	<div class="left">
		  		<div class="quarter-blob">
			  		<h1>Q2</h1>
			  	</div>
		  		<p class="title">IKO: Initial Kitty Offering</p>
				<span>Distribution of 1st Gen Kitties</span>
		  	</div>

		  	<div class="right">
		  		<p>Whitepaper release</p>
		  	</div>

		  	<div class="left">
		  		<div class="quarter-blob">
			  		<h1>Q1</h1>
			  	</div>
		  		<p>KittyCash.com relaunch</p>
		  	</div>

		  	<div class="year-blob">
		  		<h1>2018</h1>
		  	</div>

		  	<div class="right">
		  		<p>KittyCash.io launch</p>
		  	</div>

		  	<div class="left">
		  		<div class="quarter-blob">
			  		<h1>Q4</h1>
			  	</div>
		  		<p class="title">KittyCash is born in the Skycoin chat</p>
		  	</div>

		  	<div class="year-blob">
		  		<h1>2017</h1>
		  	</div>

		  	<div class="right">
		  		<p class="title">Beginning of Skycoin development</p>
		  	</div>

		  	<div class="year-blob">
		  		<h1>2012</h1>
		  	</div>
	  	</div>
	  </div>
  </div>

</div>
