/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";

body {
	overflow-x: hidden;
}

.sb-black {
  font-family: 'Montserrat-SemiBold', sans-serif;
  color: black;
  font-weight: 600;
}


.blob {
	background-repeat: no-repeat;
 	background-image: url(/assets/home_clip.svg);
 	background-position: top right;
 	background-size: 55%;
}

.container-fluid {
  max-width: 1500px;
  margin: 0 auto;
 
}


