<div class="container-fluid px-0">
  <div class="row mb-5">
  	<div class="col-md-7 col-sm-12">
	  	<h1 class="kitty-header-lg pb-3">Next generation of <br class="d-none d-md-block"> blockchain gaming.</h1>
	  	<a class="btn btn-lg btn-primary" (click)="downloadWallet()">Download</a>
	  	<a class="btn btn-lg btn-outline-primary" routerLink="/faq" routerLinkActive="active">What is KittyCash?</a>
  	</div>
  	<!-- <div class="col-md-5 d-none d-md-block text-center mx-auto">
  		<img class="img-fluid" src="/assets/home_cat.png" alt="Next generation of blockchain gaming" />
  	</div> -->
  </div>
  <div class="pt-5"></div>
  <div class="legendary mt-5">
	  <div class="row what-is-kittycash" id="what_is_container">
	  	<div class="col-md-6 offset-md-3 text-center">
		  	<h1 class="kitty-header-s1">What is KittyCash?</h1>
		  	<p>KittyCash is a next generation blockchain game that is fulfilling Satoshi's original vision of blockchain collectables.</p>
		  	<button id="read_more_button" class="btn btn-lg btn-outline-primary" routerLink="/faq" routerLinkActive="active">Read more</button>
		  </div>
	  </div>
	    
	    <legendary-bg></legendary-bg>
	  	<div id="legendary-container-2">
		  <div class="row">
			<div class="col-10 offset-1 text-center">
				<h1 class="kitty-header-s1" id="legendary-title">Some of our Kitties</h1>
			</div>
		  </div>

		  <div class="row legendary-inner">
		  	<!-- <aquarium class="d-none d-md-block"></aquarium> -->
		  	<div class="col-12 pb-5">
		  		<div class="row lg-flex-row pt-4 pb-4 no-gutters cat-box-container">
		  			<div class="col-md-4 col-sm-12 pb-2">
		  				<div class="cat-box" [@trans]="rmap">
			  				<div class="mx-auto text-center kitty-img-container pb-1">
				  				<img class="img-fluid" src="{{cats[0].img}}" alt="{{cats[0].name}}">
				  				<h2>{{cats[0].name}}</h2>
				  				<h3>{{cats[0].priceBTC}} BTC | {{cats[0].priceSKY}} SKY</h3>
				  				<h4>{{cats[0].description}}</h4>
				  			</div>
				  		</div>	
			  		</div> 
				  

				  	<div class="col-md-4 col-sm-12 pb-2">
		  				<div class="cat-box" [@trans]="rmap">
			  				<div class="mx-auto text-center kitty-img-container pb-1">
				  				<img class="img-fluid" src="{{cats[1].img}}" alt="{{cats[1].name}}">
				  				<h2>{{cats[1].name}}</h2>
				  				<h3>{{cats[1].priceBTC}} BTC | {{cats[1].priceSKY}} SKY</h3>
				  				<h4>{{cats[1].description}}</h4>
				  			</div>
				  		</div>	
			  		</div> 
				  	

				  	<div class="col-md-4 col-sm-12 pb-2">
		  				<div class="cat-box" [@trans]="rmap">
			  				<div class="mx-auto text-center kitty-img-container pb-1">
				  				<img class="img-fluid" src="{{cats[2].img}}" alt="{{cats[2].name}}">
				  				<h2>{{cats[2].name}}</h2>
				  				<h3>{{cats[2].priceBTC}} BTC | {{cats[2].priceSKY}} SKY</h3>
				  				<h4>{{cats[2].description}}</h4>
				  			</div>
				  		</div>	
			  		</div> 	
		  		</div>

		  		<div id="explore_button_container">
			  		<button routerLink="/explore" class="btn btn-lg btn-primary" id="explore_button">Explore them all</button>
			  	</div>
		  		<div class="mb-5"></div>
		  	</div>
		  	
		  </div>
	  	</div>
	</div>

	<div class="mt-5">
		<div class="row">
			<div class="col-10 offset-1 mt-5 text-center">
				<h1 class="kitty-header-s1">From Our Blog</h1>
			</div>
		</div>

		<div class="row mt-5">
			<div class="col-10 offset-1">
				<div class="row">
					<div class="col-md-4 col-sm-12 blog-box mb-2" *ngFor="let article of blogPosts();">
						<div class="card" style="width: 18rem;">
							<a [href]="article.link">
							  <div class="card-body">
							    <img class="img-fluid" [src]="article.thumbnail" style="height:180px; border-radius:15px; object-fit: cover;">
							    <h1 class="card-title mt-2">{{article.title}}</h1>	    
							    <p class="card-text">{{article.summary}}</p>
							   	<h6 class="card-subtitle mb-2">{{article.pubDate | date:'longDate'}}</h6>
							  </div>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<get-in-touch></get-in-touch>

	<div class="skycoin mb-5">
		<div class="row">
			<div class="col-8 offset-2 text-center mt-1">
				<h1 class="kitty-header-s1">Proudly made possible with Skycoin technologies</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-10 offset-1 text-center">
				<a href="http://www.skycoin.net/"><img class="img-fluid" src="assets/skycoin.svg" alt="Proudly made possible with Skycoin technologies"></a>
			</div>
		</div>
	</div>

	<mail-list></mail-list>
</div>
