@import "~bootstrap/scss/bootstrap-grid.scss";
@import "src/theme/theme-variables";

.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.legendary {
	position: relative;
}
 /* 
.legendary::before {
   content: " ";
   position: absolute;
   left: -11%;
   right: -11%;
   height: 100%;
   z-index: -1;
   background-image: url(assets/l-top.png);
   background-repeat: no-repeat;
   background-size:contain;
}
*/
 /* 
.legendary::after {
   content: " ";
   position: absolute;
   left: -11%;
   right: -11%;
   height: 100%;
   z-index: -1;
   background-image: url(assets/l-bottom.png);
   background-repeat: no-repeat;
   background-size: contain;
}
*/
.legendary-inner {
	position: relative;
}
 /* 
.legendary-inner::before {
	content: " ";
	position: absolute;
	left: -11%;
	right: -11%;
	background-image: url(assets/l-fill.png);
	height: 100%;
}
*/

.px-sm-1 {
	@include media-breakpoint-down(sm) { 
       margin-left: 15px !important;
       margin-right: 15px !important; 
    }
}
.sm-bg {
	@include media-breakpoint-down(sm) { 
      background-image: url(assets/l-fill.png) !important;
      background-size: 100% !important;
   	  background-repeat: repeat !important
    }
}

.cat-box-container .col-md-4{
	z-index:500;
  pointer-events: none;
}

.cat-box {
	color: white;
	@include media-breakpoint-up(md) { 
		padding-left: 10%;
		padding-right: 10%;
	}
}

.cat-box-container > .col-md-4:first-child .cat-box{
	@include media-breakpoint-up(md) { 
		padding-right: 20%;
		padding-left: 0;
	}
}

.cat-box-container > .col-md-4:last-child .cat-box{
	@include media-breakpoint-up(md) { 
		padding-left: 20%;
		padding-right: 0;
	}
}


.cat-box h2 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cat-box h3 {
	font-family: 'Montserrat-SemiBold', sans-serif;
	font-size: 14px;
}

.cat-box h4 {
	font-size: 14px;
}

.kitty-img-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px 0 rgba(223, 223, 223, 0.5);
  border-radius: 25px;
}

.blog-box h1{
	font-family: 'Montserrat-SemiBold', sans-serif;
	font-size: 28px;
}

.social .col-6 {
	@include media-breakpoint-down(sm) { 
       padding-left: 35px;
       padding-right: 35px;
    }
}
.social a {
	@include media-breakpoint-up(md) { 
        float: right;
    }	
}
.social img {
	width: 49px;
	height: 49px;
	@include media-breakpoint-up(md) { 
        float: right;
    }

}
.social span {
	text-align: left !important;
	display: block;
	font-size: 20px;
	color: black;
	@include media-breakpoint-down(sm) { 
       font-size: 14px;
       text-align: center !important;
    }
}


.get-in-touch {
 	@include media-breakpoint-down(sm) { 
        text-align: center;
    }
}

.get-in-touch::before {
	content: "";
    background-repeat: no-repeat;
    background-image: url(/assets/get_in_touch_bg.svg);
    background-size: 65%;
    max-width: 2000px;
    max-height: 445px;
    position: absolute;
    left: -11%;
    right: -11%;
    height: 100%;

    @include media-breakpoint-down(sm) {
    	background-size: 125%;
    }

}

.lg-flex-row {
  @include media-breakpoint-up(md) {
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
    }
    
}
.contact p {
	font-size: 24px;
}

.contact a {
	font-size: 24px;
	color: white;
}

#legendary-container-2 {
	margin-top: 18%;
}


#explore_button_container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  text-align: center;
}
